
.emptyPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--color-text-p2);
  background: var(--color-fill);
  font-size: var(--font-size-large);
}
