{
  "extends": "@folio/eslint-config-stripes",
  "overrides": [
    {
      "files": [ "src/**/tests/*", "**/*.test.js", "test/**/*", "testing/**/*" ],
      "rules": {
        "react/prop-types": "off",
        "import/no-extraneous-dependencies": ["error", { "packageDir": [".", ".."] }],
        "import/prefer-default-export": "off",
        "global-require": "off"
      }
    }
  ],
  "env": {
    "jest": true
  }
}
